name: Combined Workflow

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '30 5 * * *'
  workflow_dispatch:

jobs:
  commit_job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update 23f2003958@ds.study.iitm.ac.in
        run: echo "Update $(date)" > daily_update.txt
      - name: Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add daily_update.txt
          git commit -m "update" || exit 0
          git push

  scraper_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Scrape 23f2003958@ds.study.iitm.ac.in
        run: |
          npm install playwright
          npx playwright install --with-deps chromium
          node scraper.js
